@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
}
header{
    width: 100%;
    height: 70vh;
    object-fit: cover;
    overflow: hidden;
    position: relative;
    margin-bottom: 2rem;
}
.head-bg-img{
    position: absolute;
    top: -20vh;
    width: 100vw;
    z-index: -1;
}
.head-bg-img img{
    width: 100%;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    margin: 0px 40px;
    font-size: 1rem;
}
.nav-bar{
    display: flex;
    gap: 1.5rem;
    list-style: none;
    font-weight: lighter;
}
.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7vh;
    
}
.logo{
    width: 20vw;
}
.head h3{
    font-size: 2.1rem;
    color: #fff;
    font-weight: 400;
}
.search{
    display: flex;
    width: 55vw;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 5px 4px;
}
.search-items{
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.search-items p{
    color: gray;
    border-right: 1px solid gray;
    font-size: 15px;
    padding-left: 10px;
    margin-right: 10px;
}
.search .search-items input{
    outline: none;
    border: none;
    font-size: 15px;
    width: 200%;
    padding-left: 10px;
}
.search .search-items:first-child{
    width: 30%;
    color: rgb(255, 126, 152);
}.search .search-items:last-child{
    width: 76%;
    color: gray;
}

.sec-1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}
.sec-1 .sec-1-item{
    border: 1px solid gray;
    border-radius: 10px;
    margin: 3px 5px;
    width: 15rem;
    overflow: hidden;
    position: relative;
    background-color: #fff;
    border: 1px solid rgb(201, 201, 201);
}
.sec-1 .sec-1-item img{
    width: 100%;
    border-radius: 10px 10px 0 0;
    z-index: -1;
    border: 1px solid white;
}
.sec-1 .sec-1-item .item-details{
    position: absolute;
    bottom: 3px;
    height: 25%;
    background-color: #fff;
    width: 100%;
    justify-content: center;
    z-index: 2;
    align-items: center;
}
.sec-1 .sec-1-item p{
    font-size: 1.2rem;
    text-align: center;
    
}
.sec-2{
    width: 1080px;
    margin: 0 auto;
    margin-bottom: 4rem;
}
.sec-2 h3{
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.2;
}
.sec-2-place-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}.sec-2-place-items .sec-2-place-item{
    width: 100%;
    max-width: 26%;
    margin-bottom: 20px;
}
.sec-2-place-item{
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(188, 188, 188);
    padding: 20px;
}
.sec-2 .sec-2-place-item .place-head{
    color: black;
    font-size: 1.2rem;
    margin: 0;
    margin-bottom: 5px;
}
.sec-2 .sec-2-place-item .place-no{
    font-weight: lighter;
    color: rgb(51, 51, 51);
    margin: 0;
}
